In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/buckipr/Python/master/IPR_cleaned.csv")

In [3]:
data.head()

,OBJECTID,StopId,StopName,Lat,Lon,Lat_front,Lat_back,Lon_front,Lon_back,y,x,Bethel,Over4000
0,1,5217,PICKFORDE DR & BETHEL RD,40065959,-83086596,40,65959,-83,86596,40.065959,-83.086596,1.0,1.0
1,2,6845,2425 BETHEL RD,40064526,-83084106,40,64526,-83,84106,40.064526,-83.084106,1.0,1.0
2,3,5225,BETHEL RD & WOOD RUN BLVD,40064408,-83080785,40,64408,-83,80785,40.064408,-83.080785,1.0,1.0
3,4,5609,BETHEL RD & HEDGEROW RD,40064300,-83077475,40,64300,-83,77475,40.064300,-83.077475,1.0,1.0
4,5,5218,BETHEL RD & DIERKER RD,40064184,-83074360,40,64184,-83,74360,40.064184,-83.074360,1.0,1.0

In [4]:
data.shape

(30, 13)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OBJECTID   30 non-null     int64
 1   StopId     30 non-null     int64
 2   StopName   30 non-null     object
 3   Lat        30 non-null     int64
 4   Lon        30 non-null     int64
 5   Lat_front  30 non-null     int64
 6   Lat_back   30 non-null     int64
 7   Lon_front  30 non-null     int64
 8   Lon_back   30 non-null     int64
 9   y          30 non-null     float64
 10  x          30 non-null     float64
 11  Bethel     30 non-null     float64
 12  Over4000   30 non-null     float64
dtypes: float64(4), int64(8), object(1)
memory usage: 3.2+ KB

In [6]:
from helium import *

In [7]:
start_chrome("https://geocoding.geo.census.gov/geocoder/geographies/coordinates?form")

In [8]:
click("x")

In [9]:
data['x'][0]

-83.086596

In [10]:
write(str(data['x'][0]))

In [11]:
click("y")

In [12]:
write(str(data['y'][0]))

In [13]:
click("Find")

In [14]:
print(Text("2010 Census Blocks:").value)

Geographies:
2010 Census Blocks:
SUFFIX:
GEOID: 390490063951010
CENTLAT: +40.0663314
BLOCK: 1010
AREAWATER: 0
STATE: 39
BASENAME: 1010
OID: 210404059532693
LSADC: BK
FUNCSTAT: S
INTPTLAT: +40.0663314
NAME: Block 1010
OBJECTID: 9515623
TRACT: 006395
CENTLON: -083.0898409
BLKGRP: 1
AREALAND: 191370
INTPTLON: -083.0898409
MTFCC: G5040
LWBLKTYP: L
COUNTY: 049
States:
status: Layer query encountered an error: org.springframework.dao.DataRetrievalFailureException: ArcGIS Error: missing required element for GeoLookup
Counties:
status: Layer query encountered an error: org.springframework.dao.DataRetrievalFailureException: ArcGIS Error: missing required element for GeoLookup
Census Tracts:
status: Layer query encountered an error: org.springframework.dao.DataRetrievalFailureException: ArcGIS Error: missing required element for GeoLookup

In [15]:
Text("2010 Census Blocks:").value.split("\n")[15]

'TRACT: 006395'

In [16]:
Text("2010 Census Blocks:").value.split("\n")[15].split(": ")[1]

'006395'

In [17]:
Tract = Text("2010 Census Blocks:").value.split("\n")[15].split(": ")[1]

In [18]:
tract_list = []
def get_tract(x, y):
    start_chrome("https://geocoding.geo.census.gov/geocoder/geographies/coordinates?form", headless=True)
    click('x')
    write(str(x))
    click('y')
    write(str(y))
    click('Find')
    if len(Text("2010 Census Blocks:").value.split("\n")) < 16:
        click('Find')
    Tract = Text("2010 Census Blocks:").value.split("\n")[15].split(": ")[1]
    tract_list.append(Tract)
    kill_browser()

In [19]:
kill_browser()

In [20]:
get_tract("-83", "40")

In [21]:
tract_list

['001300']

In [22]:
for i in range(len(data)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [23]:
for i in range(len(data)):
    get_tract(data['x'][i], data['y'][i])
    print(f"Iteration #{i}: {tract_list[-1]}")

Iteration #0: 006395
Iteration #1: 006395
Iteration #2: 006353
Iteration #3: 006353
Iteration #4: 006353
Iteration #5: 006353
Iteration #6: 006351
Iteration #7: 006351
Iteration #8: 006351
Iteration #9: 006351
Iteration #10: 006351
Iteration #11: 006352
Iteration #12: 006352
Iteration #13: 006321
Iteration #14: 006321
Iteration #15: 006321
Iteration #16: 006321
Iteration #17: 006321
Iteration #18: 006323
Iteration #19: 007811
Iteration #20: 007811
Iteration #21: 007812
Iteration #22: 007812
Iteration #23: 007820
Iteration #24: 007820
Iteration #25: 007820
Iteration #26: 007820
Iteration #27: 007820
Iteration #28: 001122
Iteration #29: 001122

In [24]:
tract_list

['001300',
 '006395',
 '006395',
 '006353',
 '006353',
 '006353',
 '006353',
 '006351',
 '006351',
 '006351',
 '006351',
 '006351',
 '006352',
 '006352',
 '006321',
 '006321',
 '006321',
 '006321',
 '006321',
 '006323',
 '007811',
 '007811',
 '007812',
 '007812',
 '007820',
 '007820',
 '007820',
 '007820',
 '007820',
 '001122',
 '001122']

In [25]:
len(tract_list)

31

In [26]:
pd.DataFrame(tract_list)

         0
0   001300
1   006395
2   006395
3   006353
4   006353
5   006353
6   006353
7   006351
8   006351
9   006351
10  006351
11  006351
12  006352
13  006352
14  006321
15  006321
16  006321
17  006321
18  006321
19  006323
20  007811
21  007811
22  007812
23  007812
24  007820
25  007820
26  007820
27  007820
28  007820
29  001122
30  001122

In [27]:
data['tract'] = pd.DataFrame(tract_list)

In [28]:
data.head()

,OBJECTID,StopId,StopName,Lat,Lon,Lat_front,Lat_back,Lon_front,Lon_back,y,x,Bethel,Over4000,tract
0,1,5217,PICKFORDE DR & BETHEL RD,40065959,-83086596,40,65959,-83,86596,40.065959,-83.086596,1.0,1.0,001300
1,2,6845,2425 BETHEL RD,40064526,-83084106,40,64526,-83,84106,40.064526,-83.084106,1.0,1.0,006395
2,3,5225,BETHEL RD & WOOD RUN BLVD,40064408,-83080785,40,64408,-83,80785,40.064408,-83.080785,1.0,1.0,006395
3,4,5609,BETHEL RD & HEDGEROW RD,40064300,-83077475,40,64300,-83,77475,40.064300,-83.077475,1.0,1.0,006353
4,5,5218,BETHEL RD & DIERKER RD,40064184,-83074360,40,64184,-83,74360,40.064184,-83.074360,1.0,1.0,006353

In [29]:
output = data[['StopId', "x", 'y', "tract"]]

In [30]:
output.to_csv("IPR_finaldata.csv", index=False)